{% extends 'base.html' %}
{% load staticfiles %}
{%block content %}
<br>
<br>
<br>
<center><h3>Listado de materias de {{user.profile.nombre}} {{user.profile.n_empleado}}</h3></center>

<div class="container" id="l1">
   <div class="row">
            <table class="centered responsive-table" >
                    <thead>
                      <tr>                    	                          
                          <th data-field="nombre">Materia</th>
                          <th data-field="maestro_a">Maestro</th>
                          <th data-field="serie">Serie</th>
                      </tr>
                    </thead>

                    <tbody>
                    {% for materia in materias %}
	                    
	                      <tr>
	                            <td>{{materia.nombre}}<br></td>
	                            <td>{{materia.maestro_a}}</td>
	                            <td><a href="/detalle_materia/{{materia.serie}}">{{materia.serie}}</a></td>                         
	                      </tr>
	                    
                    {% endfor %}
                    </tbody>
            </table>
    </div>
</div>
       
<div class="row">
        <div class="col s12 m4 l12 push-l11">
            <a class="btn-floating btn-large waves-effect waves-light red" href="/registro_materia"><i class="material-icons">add</i></a>
        </div>
    </div>
{% endblock %}