{% load staticfiles %}
<script src="{% static 'materialize/js/jquery-2.2.1.js'%}"> </script>
<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css'%}">
<script src="{% static 'materialize/js/materialize.min.js'%}"> </script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    {% if user.is_authenticated %}
      <nav id="nav1">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/listado_materias">Materias</a></li>
            <li><a href="/logout">Logout</a></li>
            <li>{{user.profile.nombre}}</li>
            <li> <span></span></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
            <li> </li>
          </ul>
        </div>
      </nav>
      <script type="text/javascript">
          $(".button-collapse").sideNav();
      </script>   
    {% endif %}
<style type="text/css">
    #nav1{
      background-color: #1565c0;
    }
</style>
{% block content %} {% endblock  %}